Import Necessary Libraries

In [7]:
import pandas as pd

Load the csv into a Pandas DataFrame

In [8]:
df = pd.read_csv('employee_salaries.csv')

Have a peep at the data

In [9]:
print(df.head(2))
#employee_salaries might be randomly generated 
print(df.dtypes)

   Employee_ID        Name Department   Position  Salary   Hire_Date Gender
0            1  Ryan Floyd      Sales  Executive   99254  2016-02-24      F
1            2  John Price      Sales  Assistant  100985  2018-10-19      F
Employee_ID     int64
Name           object
Department     object
Position       object
Salary          int64
Hire_Date      object
Gender         object
dtype: object

Check for Missing data

In [10]:
print(df.isnull().sum().rename_axis('Number of Missing Data by columns'))

Number of Missing Data by columns
Employee_ID    0
Name           0
Department     0
Position       0
Salary         0
Hire_Date      0
Gender         0
dtype: int64

Summary statistics

In [11]:
operations = {'mean' : lambda df : df.mean(),
              'median' : lambda df : df.median(),
              'standard deviation' : lambda df : df.std(),
              'maximum' : lambda df : df.max(),
              'minimum' : lambda df : df.min()}

interested_columns = ['Salary']

for op_name, op in operations.items():
    for column in interested_columns:
        try:
            var = op(df[column])
            if 'float' not in str(type(var)):
                print(f"{column}'s {op_name} is ${var:,}")
            else:
                print(f"{column}'s {op_name} is ${var:,.2f}")
        except TypeError:
            pass
print('\n')
title = 'Mean Salary for each Department'
print(df['Salary'].groupby(df['Department']).mean().rename_axis(title).apply(lambda x: f'${x:,.2f}'))

Salary's mean is $86,147.00
Salary's median is $87,836.00
Salary's standard deviation is $22,086.74
Salary's maximum is $119,751
Salary's minimum is $40,659


Mean Salary for each Department
Finance      $84,255.53
HR           $84,534.78
IT           $86,795.26
Marketing    $87,415.85
Sales        $88,006.21
Name: Salary, dtype: object

Getting the Highest paid employee

In [12]:
max_salary = operations['maximum'](df['Salary'])
max_salary_row = df[df['Salary'] == max_salary]

# Convert the Salary column to string before formatting
max_salary_row = max_salary_row.astype({'Salary': 'object'})

# Format the 'Salary' column with dollar sign and comma separators
max_salary_row.loc[:,'Salary'] = max_salary_row['Salary'].apply(lambda x: f'${x:,}')

print(max_salary_row[['Name', 'Department', 'Salary']])

            Name Department    Salary
75  Carlos Mejia         IT  $119,751

Gender pay gap analysis

In [13]:
var1= df['Salary'].groupby(df['Gender']).mean()
# Title change and string formatting for numbers
var1= var1.rename_axis("Average Salary Grouped by Gender").apply(lambda x: f'${x:,.2f}')
# Replace 'F' with 'Female' and 'M' with 'Male' in the index
var1= var1.rename(index={'F': 'Female', 'M': 'Male'})
print(var1)

female_avg = var1.iloc[0]
male_avg = var1.iloc[1]
# Remove dollar sign and commas, convert to float
female_avg = float(female_avg.replace('$', '').replace(',', ''))
male_avg = float(male_avg.replace('$', '').replace(',', ''))
diff_female_male = f"${female_avg-male_avg:,.2f}"
print(f"On average Female Employess make {diff_female_male} more than Male Employees")

Average Salary Grouped by Gender
Female    $87,413.57
Male      $84,718.74
Name: Salary, dtype: object
On average Female Employess make $2,694.83 more than Male Employees

Employees hired after 01/01/2020

In [14]:
hired_after_2020 = df[df['Hire_Date']>'2020-01-01']
new_name = 'Name of Employees hired after January 1, 2020'
hired_after_2020 = hired_after_2020.rename(columns = {'Name': new_name})
print(hired_after_2020[[new_name]])

   Name of Employees hired after January 1, 2020
3                                    Andre Brock
10                                  Kendra Hicks
15                                 Vanessa Solis
22                                 Vanessa Brown
24                                    Judy Scott
25                                   Bobby Watts
34                                    Ashley Lee
36                                 Jennifer King
37                                   Jason Dixon
41                               Nicholas Taylor
42                                    John Kelly
45                              Stephanie Carter
50                                  Lori Simmons
52                                  Jon Anderson
55                             Jennifer Thompson
56                                  Steven Stone
58                                     Kevin Kim
61                                   Jesse White
65                                  Robert Scott
69                                   Jessica Fry
82                                  Tony Hoffman
84                                      Amy Dean
89                                 Kimberly Rios
90                           Christopher Jackson
91                                    Jose Moore
93                                   Robert Cruz
94                                  Tina Ballard
97                                  Mathew Smith
99                          Mr. Richard Copeland